.createListContainer {
    background-color: whitesmoke;
    padding: 20px 10px;
    width: 350px;
    display: flex;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    border-radius: 8px;
}

.ListCreationForm {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.formField {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.formField input, .formField textarea {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 8px 10px;
    border-radius: 2px;
}

.formFieldLabel {
    font-size: 14px;
    font-weight: bold;
    color: rgba(0, 0, 0, .8);
}

.formFieldLabel small {
    font-weight: normal;
}

.createListButton {
    width: max-content;
}

.buttonSubmitForm {
    background-color: rgb(94, 46, 139);
    color: white;
    border: 0;
    padding: 7px 14px;
    font-weight: bold;
    font-size: 11px;
    border-radius: 3px;
}

.smallOptional {
    color: rgba(0, 0, 0, .7);
}
