.container {
    display: flex;
}

.aside {
    width: 200px;
    height: 100vh;
    background-color: red;
}

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 5em;
    margin: 50px 80px;
}

