.listContainer {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 10px 20px;
    width: max-content;
    height: max-content;
    /* align-items: center; */
    border-radius: 10px;
    justify-content: center;
    background-color: rgba(0, 0, 255, 0.3);
}

.footerList form input {
    padding: 7px 12px;  
    width: 250px;
    border-radius: 2px;
    color: rgba(0, 0, 0, 0.8);
    border: 0;
}

.list {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 20px;
}